#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
# export DH_VERBOSE = 1

export PYBUILD_NAME=pysca
#export PYBUILD_INSTALL_ARGS=--no-index --find-links=./dist
export PYBUILD_DISABLE=test

%:
	dh $@ --buildsystem=pybuild
